@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 245 44% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 245 58% 67%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 245 44% 50%;
    --radius: 0.5rem;

    /* Purple palette */
    --purple: 245 58% 67%;
    --purple-light: 245 60% 79%;
    --purple-lighter: 245 73% 88%;
    --purple-dark: 245 44% 50%;
    --purple-darkest: 245 47% 25%;

    /* Status colors */
    --success: 160 47% 58%;
    --success-bg: 202 37% 17%;
    --info: 213 71% 72%;
    --info-bg: 216 44% 18%;
    --warning: 36 87% 54%;
    --warning-bg: 28 45% 11%;
    --danger: 0 74% 76%;
    --danger-bg: 0 29% 12%;
  }

  .dark {
    --background: 245 28% 7%;
    --foreground: 247 62% 94%;
    --card: 244 24% 13%;
    --card-foreground: 247 62% 94%;
    --primary: 245 44% 50%;
    --primary-foreground: 247 62% 94%;
    --secondary: 244 29% 9%;
    --secondary-foreground: 247 62% 94%;
    --muted: 244 24% 13%;
    --muted-foreground: 240 7% 45%;
    --accent: 245 58% 67%;
    --accent-foreground: 247 62% 94%;
    --destructive: 0 74% 76%;
    --destructive-foreground: 247 62% 94%;
    --border: 245 23% 20%;
    --input: 245 23% 20%;
    --ring: 245 44% 50%;

    /* Purple palette */
    --purple: 245 58% 67%;
    --purple-light: 245 60% 79%;
    --purple-lighter: 245 73% 88%;
    --purple-dark: 245 44% 50%;
    --purple-darkest: 245 47% 25%;

    /* Status colors */
    --success: 160 47% 58%;
    --success-bg: 202 37% 17%;
    --info: 213 71% 72%;
    --info-bg: 216 44% 18%;
    --warning: 36 87% 54%;
    --warning-bg: 28 45% 11%;
    --danger: 0 74% 76%;
    --danger-bg: 0 29% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-background text-foreground;
  }
}
